	.footer{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
		display: block;
		background: rgba(100%,100%,100%,1);
	}

#thumb { margin: 0 8px; border-radius: 50%; width:50px; height:50px;}

 	.more a{  /* 因為繼續閱讀是個超連結，要用a來定義 */
	 display: none;  /* 平常設定不要顯示 */
	}
	
	
	/* css圆形 */
	#div.circle{
	width:8px;height:8px; 
	bottom:0px;
	border-radius:50%;
	background-color:url(001.png);
	margin: 0px auto;
	z-index:9999;
	}
		
	
	.div.circle:hover .more a{
	display: block;  /* 當滑鼠移至該篇文章時，設定以block顯示，可設定超連結以一個區塊顯示 */
	width: 100%;  /* 設定長與寬 */
	height: 150px;
	background-color: rgba(100%,100%,100%,0.3) center center no-repeat;  /* 設定背景 */
	position: absolute;  /* 將繼續閱讀的位置放置於文章左上角，top=0, left=0 */
	bottom: 0 px;
	font-size: 0px;  /* 不要文字出現，因為設定背景來顯示 */
	}
